.principal {
    border: 2.5px solid black;
    /*coloca uma borda (tamanho, estilo, cor*/
    margin: 1rem 1rem 1rem;
    padding: 1rem;

}

.principal__titulo {
    font-size: 2rem;
}

.principal__imagem {
    float: left;
    margin: 0 20px 20px 0;
    width: 120px;
}

.principal__texto {
    margin: 0 0 1rem;
}

.principal__texto--missao {
    margin: 0 0 1rem;
    text-align: center;
}

.principal__texto--missao:hover {
    color: var(--azul-escuro);
    transform: scale(1.3);
}

.principal__texto--negrito {
    font-weight: bold;
}

.principal__texto-italico {
    font-style: italic;
}