.capa__imagem{
    width: 56;
}
.menu{
    background-color: #e1ebd1;
    box-sizing: border-box;
    padding: 1em 0 1em 0;
}
.menu__lista{
    display: flex;
    font-size: 1.8em;
    font-weight: bold;
    justify-content: space-around;
    list-style-type: none;
    width:100%
}

.menu__lista--link{
    margin: auto;
    width: 100%;
}
/*seleciona todos os itens menos o 4 filho*/
.menu__lista--item:not(:nth-child(4)){
    border-right: 1px solid #1b2434;
    padding-right: 1em;
}

